/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' className='h-8 w-8' viewBox='0 0 20 20'  fill='currentColor' > <path fillRule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clipRule='evenodd' /> </svg>");
}

.toggle-checkbox:checked {
  right: 0;
  border: none;
  background-color: rgb(129 124 214);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' className='h-10 w-10' fill='%23FFF' viewBox='0 0 24 24' stroke='rgb(129 124 214)' > <path strokeLinecap='round' strokeLinejoin='round' d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /> </svg>");
}
.toggle-checkbox:checked + .toggle-label {
  background-color: rgb(76 73 188);
}

@layer base {
  .btn-pri {
    @apply text-gray-800 bg-yellow-300 focus:outline-none hover:shadow-lg hover:bg-yellow-400 rounded-full transition-colors duration-150;
  }

  .btn-sec {
    @apply dark-sidebar focus:outline-none hover:shadow-lg rounded-full transition-colors duration-150;
  }

  .btn-ter {
    @apply text-gray-700 bg-yellow-50  focus:outline-none hover:shadow-lg hover:bg-yellow-100 rounded-full transition-colors duration-150;
  }

  .btn-las {
    @apply bg-transparent border hover:shadow-lg border-gray-400 focus:outline-none rounded-full transition-colors duration-150;
  }

  .form-card {
    @apply w-full max-w-md p-10 m-auto bg-gray-50 rounded-2xl shadow-2xl;
  }

  .link-scale {
    @apply transform-gpu transition hover:scale-105 duration-150 ease-in-out;
  }
  .required:after {
    content: " *";
    color: red;
  }

  .input-field {
    @apply px-3 py-2 text-gray-700 bg-gray-100 border border-gray-400 rounded-full focus:border-blue-500 focus:outline-none focus:ring;
  }

  .text-title {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold;
  }

  .text-subtitle {
    @apply sm:text-lg md:text-xl lg:text-2xl font-semibold;
  }

  .wrapper {
    @apply container mx-auto px-2 sm:px-3 md:px-5 lg:px-7 xl:px-9 py-4 sm:py-6 md:py-9 lg:py-12 xl:py-16;
  }

  .dark-main {
    @apply dark:text-gray-100 dark:bg-d1 bg-gray-200 text-gray-800;
  }

  .dark-nav {
    @apply dark:text-gray-100 dark:bg-d2 bg-blue-50 text-gray-800;
  }

  .dark-sidebar {
    @apply dark:text-gray-100 dark:bg-d3 bg-blue-200 text-gray-800;
  }

  .dark-card {
    @apply dark:text-gray-100 dark:bg-d2 bg-white text-gray-800 shadow-md;
  }

  .dark-link {
    @apply text-gray-100 bg-transparent hover:bg-gray-700 focus:outline-none focus:ring;
  }
}
